.tabela{
    position: relative;
    border-bottom-width: 1px;
    height: auto;
    width: 80%;
    left: 10%;
}
.tabela tr th{
    border-bottom-width: 1px;
}
.tabela tr td{
    border-bottom-width: 1px;
    text-align: center;
    
}